@import "tailwindcss";

:root {
  --primary: #CBB677;
  /* Light Primary */
  /* Dark Primary */
  --accent: #1B1F3A;
  /* Accent Color */
  --surface: #FFEDE2;
  /* Surface/Background Color */
  --card-bg: #E5E5FF;
  /* Card Background */
  --warning: #EB3C13;
  /* Warning Color */
  --success: #10B981;
  /* Success Color (adjusted for contrast) */
  --info: #3B82F6;
  /* Info Color (adjusted for contrast) */
}

body {
  font-family: var(--font-open-sans);
  background: white;
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-surface: var(--surface);
  --color-card: var(--card);
  --color-warning: var(--warning);
  --color-success: var(--success);
  --color-info: var(--info);
}

/* --breakpoint-*: initial;
    --breakpoint-sm: ;
    --breakpoint-md: ;
    --breakpoint-lg: ; */

.section-gap {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* Small screens (sm) */
@media (min-width: 640px) {
  .section-gap {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

/* Medium screens (md) */
@media (min-width: 768px) {
  .section-gap {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

/* Large screens (lg) */
@media (min-width: 1024px) {
  .section-gap {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

/* Extra-large screens (xl) */
@media (min-width: 1280px) {
  .section-gap {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

/* 2X Large screens (2xl) */
@media (min-width: 1536px) {
  .section-gap {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Small screens (sm) */
@media (min-width: 640px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

/* Medium screens (md) */
@media (min-width: 768px) {
  .container {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

/* Large screens (lg) */
@media (min-width: 1024px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* Extra-large screens (xl) */
@media (min-width: 1280px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
}

/* 2X Large screens (2xl) */
@media (min-width: 1536px) {
  .container {
    padding-left: 4px;
    padding-right: 4px;
  }
}